* {
    margin: 0;
    padding: 0;
}

header {
    background-color: royalblue;
    display: flex;
}
.claseimagen {
    width: 100%;
    /*border: solid orange ;*/
    animation-name: imagenanimada;
    animation-duration: 4s;
    animation-timing-function: linear;
    position: relative;
    animation-iteration-count: infinite;
}
h1 {
    color: darkblue;
    font-size: 60px;
}
h2 {
    color: red;
    font-size: 30px;

}
.hijo1 {
    flex: 3;
}
.hijo2 {
    flex: 1;
}
nav {
    background-color: black;
}
 
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuinicio a{
    font-size: 40px;
    color: white;
    text-decoration: none;

}
.menuinicio>li {
    color: white;
    display: inline-block;

}

.menuinicio>li ul {
    display: none;
    position: absolute;
    background-color:#000080;
    font-size: 30px;
    padding: 6px;
}

.menuinicio li:hover >ul {
    display: block;
}
.tipoclase {
    position: absolute;
    left: 145px;
}
.container {
    background-color: midnightblue;
    display: flex;
    min-height: 500px;
}
article {
    flex: 3;
}
aside {
    flex: 1;
}
footer {
    background-color: black;
    color: white;
}
.fab {
    font-size: 60px;
    color: white;
}
footer {
    display: flex;
}
.fhijo1 {
    flex: 1;
}
.fhijo2 {
    flex: 1;
}
.titlefooter {
    font-size: 35px;
    color: white;

}
.izquierda {
    background-color: royalblue;

}
.izquierda li {
    background-color:#000080;
    border: solid 2px white;
    text-align: center;
}
.izquierda ul>li>a {
    font-size: 90px;
    text-decoration: none;
    color: white;
}
li:hover {
    background-color: darkcyan;
}
.animate {
    transition: background-color 3s;
}
@keyframes imagenanimada {
    0% {border: dotted blue 13px;}
    25% {border: dotted red 13px;}
    50% {border: dotted green 13px;}
    75% {border: dotted maroon 13px;}
    100% {border: dotted purple 13px;}
}