* {
    margin: 0;
    padding: 0;
}

header {
    background-color: royalblue;
    display: flex;
}
h1 {
    color: darkblue;
    font-size: 60px;
}
h2 {
    color: red;
    font-size: 30px;

}
.hijo1 {
    flex: 3;
}
.hijo2 {
    flex: 1;
}
nav {
    background-color: black;
}
 
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuinicio a{
    font-size: 40px;
    color: white;
    text-decoration: none;

}
.menuinicio>li {
    color: white;
    display: inline-block;

}

.menuinicio>li ul {
    display: none;
    position: absolute;
    background-color: green;
    font-size: 30px;
    padding: 6px;
}

.menuinicio li:hover >ul {
    display: block;
}
.tipoclase {
    position: absolute;
    left: 145px;
}
.container {
    background-color: midnightblue;
    display: flex;
    min-height: 500px;
}
article {
    flex: 3;
}
aside {
    flex: 1;
}
footer {
    background-color: black;
    color: white;
}
.fab {
    font-size: 60px;
    color: white;
}
footer {
    display: flex;
}
.fhijo1 {
    flex: 1;
}
.fhijo2 {
    flex: 1;
}
.titlefooter {
    font-size: 35px;
    color: white;

}